@font-face {
    font-family: 'Proxima Nova';
    src: url('@/assets/fonts/Proxima_Nova_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('@/assets/fonts/Proxima_Nova_Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

html {
    background-color: #222222 !important;
    height: 100vh;
}

body {
    font-family: 'Proxima Nova', serif !important;
    color: #FAFAFA !important;
    background-color: #222222 !important;
    height: 100vh;
}

.card {
    background-color: #393939 !important;
}

.select select:focus, .input:focus, .textarea:focus, .select select:focus-within, .input:focus-within, .textarea:focus-within, .select select.is-focused, .is-focused.input, .is-focused.textarea {
    border-color: transparent !important;
}

.control.has-icons-left .input:focus ~ .icon, .control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon, .control.has-icons-right .select:focus ~ .icon {
    color: #FAFAFA !important;
}

.is-fullheight {
    height: 100vh !important;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}